name: Python Conda

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    steps:
      - uses: actions/checkout@v4

      - name: Cache conda
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache if etc/example-environment.yml has not changed
          CACHE_NUMBER: 1
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('experiments/experiments-conda-env.yml') }}

      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: '3.13'

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: mlccd_viz
          environment-file: 'experiments/experiments-conda-env.yml'
          python-version: ${{ matrix.python-version }}
          auto-activate: true
          conda-remove-defaults: true
          use-only-tar-bz2: true

      - name: Lint with flake8
        shell: bash -el {0}
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        shell: bash -el {0}
        run: |
          pytest tests
